<template name="companyDetails">
    <li><a data-toggle="modal" data-target="#setCompanyDetails" href="#">Company Details</a></li>
  
    <div id="setCompanyDetails" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Set Your Company Details</h4>
                </div>
                <div class="modal-body">
                    <form id="setCompanyName" role="form">
                        
                        <div class="form-group">
                            <button class="btn btn-primary submitCompanySettings" type="submit">Save Settings</button>
                            <button class="btn btn-default cancelModalButton" type="reset">Cancel</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>
