<template name="generalWarningDialog">
    <!-- general warning Popup to be used with Javascript -->
    <div id="generalWarningPopup" class="modal fade" rola="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="warningHeader" class="modal-title">foo?</h4>
                </div>
                <div id="warningMessage" class="modal-body">
                    message
                </div>
                <div class="modal-footer">
                    <button id="warningOKButton" class="btn btn-success pull-left">OK</button>
                    <button id="warningCancelButton" class="btn btn-danger pull-right">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>
