<!--Template for the Projects shown on the Dashboard -->
<template name="projectCard" >
    <div class="projectCard panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title projectTitle"> {{title}}</h3>
            <span title="Delete" class="pull-right header-button projectDeleteButton glyphicon glyphicon-trash"></span>
            <span title="Edit" class="pull-right header-button projectEditButton glyphicon glyphicon-pencil"></span>
            <!--
            there is a litte optical offset between pencil and trash because pencil still is a link.
            after we removed that link and switched to a modal edit dialog this will be fine.
            -->
        </div>
        <div class="panel-body">
            <div class="projectManager">
                {{projectManager}}
            </div>
            <div class="projectDescription">
                {{description}}
            </div>
            <!--Weitere project details
            {{timePeriod}}
            {{client}}
            {{sponsor}}
            {{contractNumber}}
            {{startDate}}
            {{endDate}}
        -->
    </div>
</div>
</template>
