<template name="dashboard">
    <!-- This navbar is the navbar on the bottom of the page, containing the add button -->
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <button title="Create a new project" class="btn btn-success navbar-btn navbar-right" data-toggle="modal" data-target="#addNewProjectModal">Add new project</button>
        </div>
    </nav>
    <div class="row-fluid">
        <div class="showProjects">
            <!--iterates over every object inside the 'projects'-collection-->
            {{#each projects}}
                {{>projectCard}}
            {{/each}}
        </div>
    </div>

    <div id="addNewProjectModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add a new project</h4>
                </div>
                <div class="modal-body">
                    <form id="addNewProjectForm" role="form">
                        {{> projectInput}}
                           <div class="form-group">
                                <button class="btn btn-primary submitNewProject" type="submit">Create Project</button>
                                <button class="btn btn-default cancelModalButton" type="reset">Cancel</button>
                           </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>
