<template name="employees">
    <!-- This navbar is the navbar on the bottom of the page, containing the add button -->
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container">
            <button title="Create a new employee" class="btn btn-success navbar-btn navbar-right" data-toggle="modal" data-target="#addNewEmployeeModal">Add new employee</button>
        </div>
    </nav>
    <div class="row-fluid">
        <div class="showEmployees">
            <!--iterates over every object inside the 'employees'-collection-->
            {{#each employees}}
                {{>employeeCard}}
            {{/each}}
        </div>
    </div>

    <div id="addNewEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add a new employee</h4>
                </div>
                <div class="modal-body">
                    <form id="addNewEmployeeForm" role="form">
                    {{> employeeInput}}
                    <div class="form-group">
                        <button class="btn btn-primary submitNewEmployee" type="submit">Create Employee</button>
                        <button class="btn btn-default cancelModalButton" type="reset">Cancel</button>
                    </div>
                </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Employee</h4>
                </div>
                <div class="modal-body">
                    <form id="editEmployeeForm" role="form">
                        {{> employeeInput editEmployee}}
                        <div class="form-group">
                            <button class="btn btn-primary submitEditEmployee" type="submit">Save</button>
                            <button class="btn btn-default cancelModalButton" type="reset">Cancel</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>
