<!--Template for the Projects shown on the Dashboard -->
<template name="projectCard" >
    <div class="card">
        <div id="ProjectTitle">
            {{projectTitle}}
        </div>
         <div id="ProjectTitle">
             {{projectManager}} 
        </div>
       <!--Weitere project details
        {{projectTimePeriod}}
        {{porjectClient}}
        {{projectSponsor}}
        {{projectContractNumber}}
        {{projectStartDate}}
        {{projectEndDate}}
        -->   
    </div>
</template>
