.timeline-employee-avatar {
    font-size: 1em;
}

.timeline-employee-loadbar {
    margin: 0;
    height: 0.5em;
}

.timeline-col-employeeInfo {
    width: 12%;
    overflow: hidden;
    font-size: 0.8em;
    vertical-align: middle !important;
}

.timeline-top-controllBar {
    margin-bottom: 10px;
}

.timeline-employee-row {
    height: 3vh;
    overflow: hidden;
}

.timeline-cell-week {
    padding: 0 !important; /* otherwise bootstrap selectors have a higher priority */
    height: 3vh;
    width: 22%;
}

.timeline-cell-week-highlight {
    background-color: #8ce88c;
}

.timeline-project-bar {
    margin: 0 !important;
    padding: 0 !important;
    float: left;
    font-size: 0.8em;
    text-align: center;
    height: 100%;
}

.timeline-project-bar-hover {
    background-color: #ff0000 !important;
}

.timeline-project-bar-editbtn {
    margin-left: 10px;
    display: none;
}

.timeline-project-bar-deletebtn {
    margin-right: 10px;
    display: none;
}

.timeline-project-bar-blue {
    background-color: #337ab7;
    color: #ffffff;
}

.timeline-project-bar-green {
    background-color: #5cb85c;
    color: #000000;
}

.timeline-project-bar-red {
    background-color: #d9534f;
    color: #000000;
}

#timeline-project-list {
    padding: 10px;
}

#timeline-project-list .label{
    font-size: 1em;
}
