<template name="employeeDetailView">
    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>User Details</strong></div>
                <div class="panel-body">
                    <strong>Name: </strong>{{firstName}} {{lastName}}<br/>
                    <strong>E-Mail: </strong>{{eMail}}<br/>
                    <strong>Contract Type: </strong>{{type}}<br/>
                    <strong>Work Time: </strong>{{workTime}}<br/>
                    <strong>Skills: </strong>{{skills}}<br/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Assignments</strong>
                    <button title="Create New Engagement" class="btn btn-success" data-toggle="modal" 
                            data-target="#addEngagementModal">Add new assignment</button>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="engagementTable">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Start</th>
                                    <th>End</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each engagements}}
                                    {{>engagementTupel}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-default pull-right" href="{{pathFor 'employees'}}">Back</a>
        </div>
    </div>
    
    <div id="addEngagementModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add New Engagement</h4>
                </div>
                <div class="modal-body">
                    <form id="addEngagementForm" role="form">
                        {{> engagementInput}}
                        <div class="form-group">
                            <button class="btn btn-primary submitEditEmployee" type="submit">Save</button>
                            <button class="btn btn-default cancelModalButton" type="reset">Cancel</button>
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>
