<template name="employeeInput" >
    <div class="inputFields">
        <input type="hidden" id="objectID" value="{{_id}}">
        <div class="form-group">
            <label for="firstNameInput">Firstname:</label>
            <input class="form-control" type="text" id="firstNameInput" value="{{firstName}}">
        </div>
        <div class="form-group">
            <label for="lastNameInput">Lastname:</label>
            <input class="form-control" type="text" id="lastNameInput" value="{{lastName}}">
        </div>
        <div class="form-group">
            <label for="eMailInput">E-Mail:</label>
            <input class="form-control" type="text" id="eMailInput" value="{{eMail}}">
        </div>
        <div class="form-group">
            <label for="contractTypeInput">Contract Type:</label>
            <input class="form-control" type="text" id="contractTypeInput" value="{{type}}">
        </div>
        <div class="form-group">
            <label for="workTimeInput">Work Time (hours per week):</label>
            <input class="form-control" type="text" id="workTimeInput" value="{{workTime}}">
        </div>
        <div class="form-group">
            <label>None Available Days:</label><br>
            <label class="checkbox-inline"><input class="freeDaysInput" type="checkbox" value="monday" {{checkDay "monday"}} > Monday</label>
            <label class="checkbox-inline"><input class="freeDaysInput" type="checkbox" value="tuesday" {{checkDay "tuesday"}} >Tuesday</label>
            <label class="checkbox-inline"><input class="freeDaysInput" type="checkbox" value="wednesday" {{checkDay "wednesday"}} >Wednesday</label>
            <label class="checkbox-inline"><input class="freeDaysInput" type="checkbox" value="thursday" {{checkDay "thursday"}} >Thursday</label>
            <label class="checkbox-inline"><input class="freeDaysInput" type="checkbox" value="friday" {{checkDay "friday"}} >Friday</label>
        </div>
        <div class="form-group">
            <label for="skillsInput">Skills (separated by commas):</label>
            <textarea class="form-control" rows="3" id="skillsInput">{{skills}}</textarea>
        </div>
    </div>
</template>
