<!--
--  This template describes the input of a new engagement
-->

<template name="engagementInput">
    <div class="inputFields">
        <!--
            <input type="hidden" id="objectID" value="{{_id}}">
            evtl. die project und employee id 
        -->
        <div class="form-group">
            <label for="projectNameInput">Project Name:</label>
            <input class="form-control" type="text" id="projectNameInput" >
        </div>
        <div class="form-group">
            <label for="startDateInput">Start Date:</label>
            <input class="form-control" type="date" id="startDateInput">
        </div>
        <div class="form-group">
            <label for="endDateInput">End Date:</label>
            <input class="form-control" type="text" id="endDateInput" >
        </div>
    </div>
</template>
