<!--
--  This template describes the input of a new engagement
-->

<template name="engagementInput">
    <div class="inputFields">
        <!--
            <input type="hidden" id="objectID" value="{{_id}}">
            evtl. die project und employee id 
        -->
        <div class="form-group">
            <label for="projectNameInput">Project Name:</label>
            <input class="form-control" type="text" id="projectNameInput" >
        </div>
        
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class="input-group date engagementDatepicker" id='startDatePicker'>
                            <label for="startDateInput">Start Date </label>
                            <input id="startDateInput" type='text' class="form-control" data-date-format="YYYY/MM/DD" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <div class='col-sm-6'>
                    <div class="form-group">
                        <div class="input-group date engagementDatepicker" id='endDatePicker'>
                            <label for="endDateInput">End Date </label>
                            <input id="endDateInput" type='text' class="form-control" data-date-format="YYYY/MM/DD" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
